projects/001-n8n-workflow-modifier/workflow.json
{
  "name": "n8n Workflow Modifier",
  "nodes": [
    {
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-200, 0],
      "id": "webhook-trigger",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow-modifier-webhook",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 0],
      "id": "set-config",
      "name": "Set: config",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-id-var",
              "name": "workflow_id",
              "value": "={{ $json.workflow_id }}",
              "type": "string"
            },
            {
              "id": "working-dir-var",
              "name": "working_directory",
              "value": "C:\\.n8n_workflows",
              "type": "string"
            },
            {
              "id": "problem-desc-var",
              "name": "problem_description",
              "value": "={{ $json.problem_description }}",
              "type": "string"
            },
            {
              "id": "command-agent1-var",
              "name": "command_agent1",
              "value": "/adw:analyze-workflow",
              "type": "string"
            },
            {
              "id": "command-agent2-var",
              "name": "command_agent2",
              "value": "/adw:implement-fix",
              "type": "string"
            },
            {
              "id": "command-agent3-var",
              "name": "command_agent3",
              "value": "/adw:validate-fix",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0],
      "id": "set-arguments",
      "name": "Set: arguments",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "arguments-var",
              "name": "arguments",
              "value": "={{ $('Set: config').item.json.workflow_id }} {{ $('Set: config').item.json.problem_description }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [400, 0],
      "id": "execute-agent1",
      "name": "Execute: adw:analyze-workflow",
      "parameters": {
        "command": "=cd /d {{ $('Set: config').item.json.working_directory }} && echo. | claude -p \"{{ $('Set: config').item.json.command_agent1 }} {{ $('Set: arguments').item.json.arguments }}\" --dangerously-skip-permissions < NUL"
      }
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [600, 0],
      "id": "execute-agent2",
      "name": "Execute: adw:implement-fix",
      "parameters": {
        "command": "=cd /d {{ $('Set: config').item.json.working_directory }} && echo. | claude -p \"{{ $('Set: config').item.json.command_agent2 }} specs/{{ $json.analysis_file }}\" --dangerously-skip-permissions < NUL"
      }
    },
    {
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [800, 0],
      "id": "execute-agent3",
      "name": "Execute: adw:validate-fix",
      "parameters": {
        "command": "=cd /d {{ $('Set: config').item.json.working_directory }} && echo. | claude -p \"{{ $('Set: config').item.json.command_agent3 }} {{ $('Set: config').item.json.workflow_id }}\" --dangerously-skip-permissions < NUL"
      }
    },
    {
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 0],
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Workflow analysis and fix completed\", \"workflow_id\": $('Set: config').item.json.workflow_id, \"operations\": $('Execute: adw:implement-fix').item.json } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{
        "node": "Set: config",
        "type": "main",
        "index": 0
      }]]
    },
    "Set: config": {
      "main": [[{
        "node": "Set: arguments",
        "type": "main",
        "index": 0
      }]]
    },
    "Set: arguments": {
      "main": [[{
        "node": "Execute: adw:analyze-workflow",
        "type": "main",
        "index": 0
      }]]
    },
    "Execute: adw:analyze-workflow": {
      "main": [[{
        "node": "Execute: adw:implement-fix",
        "type": "main",
        "index": 0
      }]]
    },
    "Execute: adw:implement-fix": {
      "main": [[{
        "node": "Execute: adw:validate-fix",
        "type": "main",
        "index": 0
      }]]
    },
    "Execute: adw:validate-fix": {
      "main": [[{
        "node": "Respond to Webhook",
        "type": "main",
        "index": 0
      }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "jOxdXGt0wjBIJHWP",
  "active": false
}
